body {
    background-color: black;
}

.buttons-container button {
    position: relative;
    background: transparent;
    border-radius: 10px;
    font-size: 24px;
    padding: 32px 16px;
    border: none;
    opacity: 0.3;
    margin: 30px;
    width: 100px;
}

button img {
    height: 150px;
    width: auto;
}

.buttons-container button:hover  {
    opacity: 1;
}

.game-button .sparkle-overlay {
    position: absolute;
    top: 10px;
    left: -15px;
    width: 220px;
    height: auto;
    display: none;
    color: #FFF;
}

.buttons-container button:hover .sparkle-overlay {
    display: block;
}

#container {
    font-family: 'Aclonica';
    background-image: url('./images/woods.jpg');
    background-size: cover;
    border-radius: 15px;
    color: whitesmoke;
    margin: 100px auto;
    width: 900px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

h1 {
    padding: 15px;
    font-family: 'Aclonica';
    font-size: 40px;
    text-align: center;
}


#health-potion-btn {
    height: 60px;
    width: 60px;
    background-color: transparent;
}

#health-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




