body {
    background: url('./images/woods.jpg') no-repeat center center fixed;
    background-size: cover;
}

.buttons-container button {
    position: relative;
    background: transparent;
    border-radius: 10px;
    font-size: 24px;
    border: none;
    opacity: 0.5;
    margin: 50px;
    width: 100px;
    height: auto;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

button img {
    height: 150px;
    width: auto;
}

.buttons-container button:hover  {
    opacity: 1;
}

.game-button .sparkle-overlay {
    position: absolute;
    top: -40px;
    left: -55px;
    width: 250px;
    height: auto;
    display: none;
}

.buttons-container button:hover .sparkle-overlay {
    display: block;
}

#container {
    font-family: 'Aclonica';
    color: whitesmoke;
    margin: 50px auto;
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

h1 {
    padding: 10px;
    font-family: 'Aclonica';
    font-size: 40px;
    text-align: center;
}

#health-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#enemy-eyes {
    width: 300px;
    height: auto;
}

#divider {
    width: 500px;
    height: auto;
}




